.App {
  margin: 2%;
}

h1 {
  margin: auto;
}

nav ul {
  width: 95%;
  height: auto;
  border-bottom: 2px solid rgb(161, 161, 161);
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #17bcee;
}

nav ul li a.active {
  text-decoration: underline;
  color: #17bcee;
}

.rocket {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.rocket li {
  list-style: none;
  display: flex;
  gap: 2em;
}

.rocket img {
  width: 30%;
  height: auto;
}

.rocket div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.rocket button {
  width: 26%;
  height: 6vh;
  color: #fff;
  font-size: 1.2em;
  font-weight: 900;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.rocket span {
  width: 5%;
  height: auto;
  background-color: #17bcee;
  color: #fff;
  padding: 0.5%;
  margin-right: 1%;
}

.rocket p {
  width: 90%;
  height: auto;
  font-size: 1.2em;
  line-height: 2;
}

.rocket-table {
  border: 2px solid gray;
  width: 100%;
  height: auto;
}

.rocket-table td {
  border: 2px solid gray;
  width: 100%;
  height: auto;
  padding: 3%;
  color: gray;
  font-size: 1em;
  font-weight: 900;
}

.missions-table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  margin: 3%;
  border: 1px solid;
}

.missions-table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.missions-table-row:last-child {
  border-bottom: none;
}

.missions-table-cell {
  padding: 8px;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.missions-table-cell:last-child {
  border-right: none;
}

.missions-table-cell.mission-name {
  flex: 2;
  justify-content: flex-start;
}

.missions-table-cell.description {
  flex: 4;
  justify-content: flex-start;
}

.missions-table-cell.status {
  flex: 1;
  justify-content: flex-start;
}

.missions-table-cell.button {
  flex: 1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  gap: 31%;
}

.join-button {
  font-size: 1.2em;
  border: 1px solid;
  padding: 10px;
}

.leave-button {
  font-size: 1.2em;
  border: 1px solid red;
  padding: 10px;
  color: red;
}

.membership {
  font-size: 1em;
  color: #fff;
  background-color: grey;
  padding: 2.5px;
  border: none;
  border-radius: 10%;
  width: 85%;
  text-align: center;
  padding-top: 1px;
}

.acmembership {
  font-size: 1em;
  color: #fff;
  background-color: rgb(99, 99, 255);
  padding: 2.5px;
  border: none;
  border-radius: 10%;
  width: 85%;
  text-align: center;
  padding-top: 1px;
}

.profiles {
  display: flex;
  gap: 20px;
  margin: 3%;
}

.rockets {
  width: 100%;
}

.missions {
  width: 100%;
}

.missions-table-row.head {
  /* Remove the border-right property for table headings */
  .missions-table-cell {
    border-right: none;
  }
}

.divider {
  border-left: 1px solid;
  margin-right: 1%;
  padding-left: 1%;
}

.missions-table-row:not(.head):nth-child(even) {
  background-color: rgb(228, 226, 226);
}
