.App {
  background-color: #fff;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #17bcee;
}

nav ul li a.active {
  text-decoration: underline;
  color: #17bcee;
}
